.mainContentEmpresa {
    margin-left: 250px;
}

.titulo{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 90px 0 0px 100px;
}

.titulo h1{
    color: #5800D6;
    font-size: 35px;
}

.titulo h2{
    font-size: 15px;
}