.headerUsuario {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 20px 80px 19px 0;
  position: static;
  justify-content: flex-end;
  border-bottom: 1px solid #e6edff;
}

.headerUsuario .usuario {
  display: flex;
  align-items: center;
  gap: 7px;
}

.headerUsuario .usuario label {
  color: #53389e;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.headerUsuario .usuario img {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 32px;
}
